.heading{
  color:rgb(68, 26, 2);
  background-color: rgb(134, 126, 126);
  text-align: center;
}
body{
  background-color: wheat;
}
.cards{
  height: auto;
  width:350px;
  display: inline-flex;
  border: 1px solid black;
  margin: 2em;
  background-color: whitesmoke;
}
.cards:hover{
transform:scale(1.1);
}
.card_info{
  text-align: center;
}
.card_category{
  text-align: center;
  font-weight: 900;
}
button{
  cursor: pointer;
}